// ※後で見直すところはこめじるし！！
@use "sass:map";

$main-color: #FFCCCC;
$background-color: #FDEEEF;
$text-color:#333333;
$font-base: "Inter", sans-serif;

$header-height-sp: 60px;
$header-height-pc: 70px;

/* 1⃣ブレークポイントの定義*/
$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

/* 2⃣mixinを記述 */
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  background: $background-color;
  font-family: $font-base; /* google fonts変数 */
  color: $text-color; /* フォントカラー変数 */
  font-size: 16px; /* フォントサイズ */
  line-height: 1.7; /* 行の高さ（行間） */
  font-weight: 300; /* フォント太さ */
}

.inner {
  padding-inline: 15px;

  @include mq(md) {
    // max-width: calc(1200px + 40px *2);
    padding-inline: 40px;
  }
}

// 共通パーツ（見出し）
.heading {
  font-family: Limelight;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 1;

  @include mq(md) {
    font-size: 64px;
    text-align: left;
  }
}

// 共通パーツ（ボタン）
.button {
  display: inline-block;
  min-width: 158px;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  background: $main-color;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.02px;
}

.section {}

.section__head {}

.section__content {
  margin-top: 30px;

  @include mq(md) {
    margin-top: 60px;
  }
}





// header
.header {
  background: $main-color;
}

.header__inner {
  height: $header-height-sp;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
    height: $header-height-pc;
  }
}

.header__logo {
  a{
    img {
      width: 40px;
      display: block;

      @include mq(md) {
        width: 50px;
      }
    }
  }
}

.header__nav {}

.header__lists {
  display: none;

  @include mq(md) {
    display: flex;
    gap: 40px;
  }
}

.header__list {
  a {}
}

.header__link {
  @include mq(md) {
    font-family: Limelight;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
}

.header__icon {
  @include mq(md) {
    display: none;
  }
}

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;
}

.drawer-icon__bar {
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: #fff;

  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 8px;
  }
  &:nth-child(3) {
    top: 16px;
  }
}


//sectionごとの空白
// .main {
//   display: grid;
//   gap: 80px;

//   @include mq(md) {
//     gap: 160px;
//   }
// }

.main {}


// fv
// ※fv画像htmlとCSSもう一度見直す！！
.fv {
  background: url(../img/sp/sp-first-view.png) no-repeat top center / cover;
  padding-block: 14px 168px;

  @include mq(md) {
    background-image: url(../img/first-view.png);
    padding-block: 15px 215px;

  }
}

.fv__inner {}


.fv__content {}

.fv__name {
  font-size: 24px;
  line-height: 1;

  @include mq(md) {
    font-size: 48px;
  }
}

.fv__title {

  @include mq(md) {
    font-size: 24px;
  }
}


.fv__message {
  text-align: center;
  padding-top: 90px;

  @include mq(md) {
    padding-top: 70px;
  }
}

.fv__slogan {
  font-family: "Rampart One";
  font-size: 64px;
  font-weight: 400;

  @include mq(md) {
    font-size: 128px;
  }
}

.fv__text {
  @include mq(md) {
    font-size: 24px;
    line-height: 2;
  }
}


//profile
.profile {}

.profile__inner {
  margin-top: 90px;

  @include mq(md) {
    margin-top: 160px;
  }
}

.profile__content {
  padding-left: 30px;
  padding-right: 30px;

  @include mq(md) {
    display: flex;
    gap: 150px;
  }
}

.profile__image {
  text-align: center;
  img {
    width: 200px;

    @include mq(md) {
      width: 300px;
    }
  }
}

.profile__message {
  margin-top: 30px;


  @include mq(md) {
    margin-top: 0;
  }
}

.profile__name {
  margin-top: 30px;
  text-align: center;
  font-family: Limelight;
  font-size: 24px;
  font-weight: 400;

  @include mq(md) {
    margin-top: 0;
    text-align: left;
    font-size: 32px;
  }
}

.profile__text {
  margin-top: 30px;
  font-size: 14px;

  @include mq(md) {
    font-size: 16px;
  }
}

.profile__button {
  margin-top: 30px;
  text-align: center;

}

.skill {}

.skill__inner {
  margin-top: 90px;

  @include mq(md) {
    margin-top: 160px;
  }
}

.skill__content {}

.skill__icons--top,
.skill__icons--bottom {
  display: flex;
  justify-content: center;
  gap: 40px;

  @include mq(md) {
    gap: 120px;
  }
}

.skill__icons--top {
  margin-top: 50px;
}

.skill__icons--bottom {
  margin-top: 30px;
}


.skill__icon {
  font-size: 70px;
  text-align: center;

  @include mq(md) {
    font-size: 100px;
  }

  p {
    font-size: 14px;

    @include mq(md) {
      font-size: 20px;
    }
  }
}

.works {}

.works__inner {
  margin-top: 90px;

  @include mq(md) {
    margin-top: 160px;
  }
}

.works__content {
  padding: 0 20px;

  @include mq(md) {
    padding: 0px 30px;
  }
}

.works__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  @include mq(md) {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 60px 40px;
  }
}

.works__card {}

.works-card {}

.works-card__image {
  text-align: center;
  img {
    width: 100%;
  }
}

.works-card__body {
  margin-top: 12px;
  text-align: left;
}

.works-card__title {
  font-size: 12px;
  @include mq(md) {
    font-size: 14px;
  }
}

.works-card__text {
  font-size: 10px;
  @include mq(md) {
    font-size: 12px;
  }
}

.contact {}

.contact__inner {
  background: $main-color;
  margin-top: 80px;
  padding: 10px 0;

  @include mq(md) {
    margin-top: 100px;
    padding: 20px 0;
  }
}

.contact__head {
  color: #fff;

  @include mq(md) {
    text-align: center;
  }
}

.contact__address {
  color: #fff;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;

  @include mq(md) {
    font-size: 80px;
    line-height: 1.5;
  }
}


// career
.career {}

.career__inner {
margin-top: 90px;
}

.career__content {
  padding: 0 30px;
}

.career__lists {}

.career__list {
  display: flex;
  gap: 30px;
}

.career__date {
  white-space: nowrap;
  font-size: 12px;

  @include mq(md) {
    font-size: 17px;
  }
}

.career__text {
  font-size: 14px;

  @include mq(md) {
    font-size: 20px;
  }
}


// footer
.footer {}

.footer__inner {
  background: $main-color;
}

.footer__content {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__icon {
  color: #fff;
  font-size: 40px;

}

.footer__text {
  color: #fff;
  text-align: center;
}









