// ※後で見直すところはこめじるし！！
@use "sass:map";

$main-color: #FFCCCC;
$background-color: #FFFAFB;
$text-color:#333333;
$font-base: "Inter", "Noto Serif JP";

$header-height-sp: 60px;
$header-height-pc: 70px;

/* 1⃣ブレークポイントの定義*/
$breakpoints: (
  sm: "screen and (min-width: 375px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

/* 2⃣mixinを記述 */
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//スクロールの設定
html {
  scroll-behavior: smooth; //スムーススクロール
  scroll-padding-top: 60px; //見出しが隠れないようパディングを設定

  @include mq(md) {
    scroll-padding-top: 70px;
  }
}

body {
  background: $background-color;
  font-family: $font-base; /* google fonts変数 */
  color: $text-color; /* フォントカラー変数 */
  font-size: 16px; /* フォントサイズ */
  line-height: 1.7; /* 行の高さ（行間） */
  font-weight: 300; /* フォント太さ */
}

.inner {
  padding-inline: 15px;

  @include mq(md) {
    max-width: calc(1200px + 40px *2);
    padding-inline: 40px;
  }
}

// 共通パーツ（見出し）
.heading {
  font-family: Limelight;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 1;

  @include mq(md) {
    font-size: 64px;
    text-align: left;
  }
}

// 共通パーツ（ボタン）
.button {
  display: inline-block;
  min-width: 158px;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  background: $main-color;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.02px;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color:$main-color;
    background-color: #fff;
  }

}

//topへ戻るボタン
.button-top {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  background: #fff;
  color: $main-color;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
  box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
}


.section {}

.section__head {}

.section__content {
  margin-top: 30px;

  @include mq(md) {
    margin-top: 60px;
  }
}





// header
.header {
  position: sticky; //headerを固定する
  top: 0;
  z-index: 20; //headerが前面にでるように
  background: $main-color;
}

.header__inner {
  height: $header-height-sp;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
    height: $header-height-pc;
    margin: 0 auto;
  }
}

.header__logo {
  a{
    img {
      width: 40px;
      display: block;

      @include mq(md) {
        width: 50px;
      }
    }
  }
}

.header__nav {
  background: $main-color;
  width: 270px;
  height: calc(100% - $header-height-sp);
  position: fixed;
  right: 0;
  top: $header-height-sp;
  padding: calc(40px - 8px) 15px;
  transform: translateX(100%);/* 最初は100%右に寄せておく */
  transition: transform 0.4s;/* 0.4秒かけて表示・非表示 */

  &.is-checked {
    transform: translateX(0%);/* is-checkedがついたら0%になるように */
  }

  @include mq(md) {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding-top: 0;
    transform: translateX(0);
  }
}

.header__lists {
  text-align: center;
  line-height: 2.8;
  padding-top: 35px;

  @include mq(md) {
    display: flex;
    gap: 40px;
  }
}

.header__list {
  a {}
}

.header__link {
  font-family: Limelight;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.header__icon {
  @include mq(md) {
    display: none;
  }
}

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;

  &.is-checked {
    .drawer-icon__bar {
      &:nth-child(1),  /* 1番目と3番目の棒が真ん中になるように高さを設定 */
      &:nth-child(3) {
        top: 9px;
      }

      &:nth-child(1) {
        transform: rotate(45deg); /* 45度回転させる */
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: #fff;

  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 8px;
  }
  &:nth-child(3) {
    top: 16px;
  }
}


//sectionごとの空白
// .main {
//   display: grid;
//   gap: 80px;

//   @include mq(md) {
//     gap: 160px;
//   }
// }

.main {}


// fv
// ※fv画像htmlとCSSもう一度見直す！！
.fv {
  background: url(../img/sp/sp-first-view.png) no-repeat top center / cover;
  padding-block: 14px 168px;

  @include mq(md) {
    background-image: url(../img/first-view.png);
    padding-block: 15px 215px;
  }
  //アニメーション削除
  // animation: bg 3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  // background: linear-gradient(to right);
}
// @keyframes bg {
//   0% {
//     opacity: 0;
//     transform: scaleX(0) translateX(-5%);
//   }
//   30% {
//     transform: scaleX(1) translateX(0);
//   }
//   100% {
//     transform: scaleX(1) translateX(0);
//   }
//   30%, 100% {
//     opacity: 1;
//   }
// }

.fv__inner {}


.fv__content {}

.fv__name {
  font-size: 35px;
  line-height: 1;

  @include mq(md) {
    font-size: 48px;
  }
}

.fv__title {

  @include mq(md) {
    font-size: 24px;
  }
}


.fv__message {
  text-align: center;
  padding-top: 90px;

  @include mq(md) {
    padding-top: 70px;
  }
}

.fv__slogan {
  font-family: "Rampart One";
  font-size: 64px;
  font-weight: 400;

  @include mq(sm) {
    font-size: 80px;
  }

  @include mq(md) {
    font-size: 128px;
  }
  animation: poyoyon 0.7s cubic-bezier(0.12, 0, 0.39, 0) 1 forwards;
  animation-delay: 1s;
}

@keyframes poyoyon {
  0% {
    transform: translateX(140px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
  20%,100% {
    opacity: 1;
  }
}







.fv__text {
  @include mq(md) {
    font-size: 24px;
    font-weight: 600;
    line-height: 2;
  }
}


//about
.about {}

.fade-in-up {
  opacity: 0;
  transform: translateY(70px);
  transition: opacity 2s, transform 3s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}

.about__inner {
  margin-top: 90px;

  @include mq(md) {
    margin-top: 160px;
  }
}

.about__content {
  padding-left: 30px;
  padding-right: 30px;

  @include mq(md) {
    display: flex;
    gap: 35px;
  }

  @include mq(lg) {
    display: flex;
    gap: 70px;
  }
}

.about__image {
  text-align: center;

  img {
    text-align: center;
    clip-path: ellipse(48% 50% at 48% 50%);
    width: 200px;

    @include mq(md) {
      width: 300px;
    }
  }

}

.about__message {
  margin-top: 30px;


  @include mq(md) {
    margin-top: 0;
  }
}

.about__name {
  margin-top: 30px;
  text-align: center;
  font-family: Limelight;
  font-size: 24px;
  font-weight: 400;

  @include mq(md) {
    margin-top: 0;
    text-align: left;
    font-size: 32px;
  }
}

.about__text {
  margin-top: 30px;
  font-size: 14px;
  line-height: 2.2;

  @include mq(md) {
    font-size: 10px;
  }

  @include mq(lg) {
    font-size: 12px;
  }

  @include mq(xl) {
    font-size: 16px;
  }
}

.hidden-sm {
  display: none;

  @include mq(md) {
    display: block;
  }
}


.about__button {
  margin-top: 30px;
  text-align: center;

}



//about-more
.about-more {}

.about-more__inner {
  margin-top: 90px;

  @include mq(lg) {
    margin-top: 100px;
  }
}

.about-more__content {
  padding-left: 30px;
  padding-right: 30px;

  @include mq(xl) {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
    align-items: center;
  }
}

.about-more__image {
  text-align: center;

  img {
    text-align: center;
    clip-path: ellipse(48% 50% at 48% 50%);
    width: 200px;

    @include mq(md) {
      width: 300px;
      height: 398px;
    }
  }
}

.about-more__message {
  margin-top: 30px;


  @include mq(lg) {
    margin-top: 0;
  }
}

.about-more__name {
  margin-top: 30px;
  text-align: center;
  font-family: Limelight;
  font-size: 24px;
  font-weight: 400;

  @include mq(md) {
    font-size: 30px;
  }

  @include mq(lg) {
    margin-top: 0;
    text-align: left;
    font-size: 32px;
  }
}

.about-more__text {
  margin-top: 30px;
  font-size: 14px;
  line-height: 2.3;

  @include mq(md) {
    font-size: 16px;
  }

  .hidden-sm {
    display: none;

    @include mq(xl) {
      display: block;
    }
  }
}






.skill {}

.skill__inner {
  margin-top: 90px;

  @include mq(md) {
    margin-top: 160px;
  }
}

.skill__content {}

.skill__icons--top,
.skill__icons--bottom {
  display: flex;
  justify-content: center;
  gap: 20px;

  @include mq(md) {
    gap: 70px;
  }

  @include mq(lg) {
    gap: 100px;
  }
}

.skill__icons--top {
  margin-top: 50px;
}

.skill__icons--bottom {
  margin-top: 30px;
}


.skill__icon {
  font-size: 60px;
  text-align: center;

  @include mq(sm) {
    font-size: 70px;
  }

  @include mq(md) {
    font-size: 90px;
  }

  p {
    font-size: 14px;

    @include mq(md) {
      font-size: 20px;
    }
  }
}

.skill__message {
  margin-top: 50px;

  @include mq(lg) {
    max-width: 1200px;
    padding-inline: 60px;
  }
}
.skill__title {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
}

.skill__text {
  font-size: 14px;
  line-height: 2.2;

  @include mq(lg) {
    font-size: 16px;
  }
}



.works {}

.works__inner {
  margin-top: 90px;

  @include mq(md) {
    margin-top: 160px;
  }
}

.works__content {
  padding: 0 20px;

  @include mq(md) {
    padding: 0px 30px;
  }
}

.works__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  @include mq(md) {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 60px 40px;
  }
}

.works__card {}

.works-card {}

.works-card__image {
  text-align: center;
  img {
    width: 100%;
  }
}

.works-card__body {
  margin-top: 12px;
  text-align: left;
}

.works-card__title {
  font-size: 12px;
  @include mq(md) {
    font-size: 14px;
  }
}

.works-card__text {
  font-size: 10px;
  @include mq(md) {
    font-size: 12px;
  }
}


// career
.career {}

.career__inner {
margin-top: 90px;

@include mq(md) {
  margin-top: 150px;
}
}

.career__content {
  padding: 0 30px;
}

.career__lists {
  @include mq(md) {
  padding-left: 30px;
  }
}

.career__list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @include mq(md) {
    flex-direction: row;
    margin-top: 30px;
    gap: 50px;
  }
}

.career__date {
  white-space: nowrap;
  font-size: 12px;

  @include mq(md) {
    font-size: 17px;
  }
}

.career__text {
  font-size: 13px;

  @include mq(md) {
    font-size: 20px;
  }
}


.strength {}

.strength__inner {
  margin-top: 90px;

  @include mq(md) {
    margin-top: 150px;
  }
}

.strength__content {
  padding: 0 30px;
}

.strength__cards {
  display: grid;
  place-items: center;
  gap: 30px;

  @include mq(md) {
    place-items: start;
    padding: 0 30px;
  }
}

.strength__card {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
    gap: 50px;
  }
}

.strength__title {
  white-space: nowrap;
  font-size: 17px;
  font-weight: 600;

  @include mq(md) {
    font-size: 25px;
  }
}

.strength__text {
  max-width: 900px;
  margin-top: 10px;
  font-size: 13px;

  @include mq(md) {
  }

  @include mq(lg) {
    max-width: 900px;
    margin-top: 0;
    font-size: 20px;

  }
}



// footer
.footer {}

.footer__inner {
  background: $main-color;
}

.footer__contact {
  margin-top: 80px;
  padding: 60px 0;

  @include mq(md) {
    margin-top: 160px;
    padding: 80px 0;
  }
}

.contact__head {
  color: #fff;

  @include mq(md) {
    text-align: center;
  }
}

.contact__address {
  color: #fff;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  margin-top: 25px;

  @include mq(sm) {
    font-size: 40px;
  }

  @include mq(md) {
    font-size: 60px;
    line-height: 1.5;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    max-width: 1280px;
    padding-inline: 100px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__icon {
  color: #fff;
  font-size: 40px;

}

.footer__text {
  color: #fff;
  text-align: center;
}